body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
}
header{
    text-align: center;
}
#title{
    color:  #3b82f6;
    border-bottom: 5px solid #f8fafc;
}
.view{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.btn1{
    width: auto;
    padding: 9px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #8b5cf6;
    border: 1px solid  #f8fafc;
    color: #f8fafc;
}
#algo{
    padding: 9px 15px;
    background-color: #8b5cf6;
    color: #f8fafc;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.slide{
    margin-bottom: 10px;
    display:flex;
    gap: 50px;
}
#display{
    margin-top: 10px;
     display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 400px; 
    background-color: #1e293b;
    padding: 20px;
    gap: 2px;
    border-radius: 10px;
    
}
.array-bar{
     color: #0f172a;
    border-radius: 5px;
    pad: 10px;
    text-align: center;
    background-color: #06d6a0;
    flex:1;
    min-width:30px;
}