body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
}
header{
    text-align: center;
}
#title{
    color:  #3b82f6;
    text-decoration:underline white;
}
.view{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.btn1{
    width: auto;
    padding: 9px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #8b5cf6;
    border: 1px solid  #f8fafc;
    color: #f8fafc;
}
#algo{
    padding: 9px 15px;
    background-color: #8b5cf6;
    color: #f8fafc;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.slide{
    margin-bottom: 10px;
    display:flex;
    gap: 50px;
}