body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
}
.view{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.btn1{
    width: auto;
    padding: 9px 15px;
    border-radius: 20px;
    cursor: pointer;
}
#algo{
    padding: 9px 15px;
}
.slide{
    margin-bottom: 10px;
    display:flex;
    gap: 50px;
}